@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [data-theme='light'] {
        --color-primary: #111;
        --background-primary: #f0e7db;
    }

    [data-theme='dark'] {
        --color-primary: #ffffffeb;
        --background-primary: #202023;
    }
}
